<mat-card>
    <mat-card-title>Booth Info</mat-card-title>
    <mat-card-subtitle>View all booths and their rating</mat-card-subtitle>
    <mat-card-content>
        <mat-card *ngFor="let booth of booths; let i = index">
            <mat-card-title>{{booth.name}} - {{booth.rating}}</mat-card-title>
            <mat-card-subtitle>Seed: {{booth.seed}}</mat-card-subtitle>
            <mat-card-content id="{{i}}" #elements>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>