<mat-card>
  <mat-card-title>Booth Manager</mat-card-title>
  <mat-card-subtitle>Create new Booth</mat-card-subtitle>
  <mat-card-content>

    <form #boothForm="ngForm">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="name" placeholder="Booth name" name="boothInput" required="true">
        <mat-hint>Bitte Namen des Stands eintragen.</mat-hint>
      </mat-form-field>
      
      <button type="submit" matButton mat-stroked-button (click)="generateNewBooth()" [disabled]="boothForm.form.invalid">Generate Booth!</button>

    </form>

    <br>
    <canvas id="canvas"></canvas>
  </mat-card-content>
</mat-card>